

<div class="container-fluid my-5">
    <!--Section: Content-->
    <section class="text-center">
        <h3 class="font-weight-bold text-dark mb-4 pb-2">Unique Factors</h3>
        <hr class="w-header">
        <!-- Section description -->
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5">It's really easy to create a landing page for your awesome product.</p>

        <!--First row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-3 mb-4">
                <a href="#" class="card hoverable" style="text-decoration: none;">
                    <div class="card-body my-4">
                        <p><i class="fa fa-tablet fa-3x text-dark"></i></p>
                        <h5 class="text-info mb-0">ON TIME LIVE TRACKING</h5>
                    </div>
                </a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 mb-4">
                <a href="#" class="card hoverable" style="text-decoration: none;" >
                    <!-- Card content -->
                    <div class="card-body my-4">
                        <p><i class="fa fa-cogs fa-3x text-dark"></i></p>
                        <h5 class="text-info mb-0">BEST QUALITY SERVICES</h5>
                    </div>
                </a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 mb-4">
                <a href="#" class="card hoverable" style="text-decoration: none;" >
                    <div class="card-body my-4">
                        <p><i class="fa fa-pencil fa-3x text-dark"></i></p>
                        <h5 class="text-info mb-0">FULLY DIGITAL TECHNIQUE</h5>
                    </div>
                </a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 mb-4">
                <a href="#" class="card hoverable"  style="text-decoration: none;" >
                    <!-- Card content -->
                    <div class="card-body my-4">
                        <p><i class="fa fa-recycle fa-3x text-dark"></i></p>
                        <h5 class="text-info mb-0">GENUNE PARTS</h5>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>

