<div class="bg">
  <div class="container">
    <div class="row page-title">
      <div class="col-md-10 col-md-offset-1">
        <div class="userDetails-panel card bg-dark">
          <div class="userDetails-header">
            <button type="button" class="close mr-5 text-white" aria-label="Close">
              <i class="fa fa-window-close" aria-hidden="true"></i>
            </button>
            <h3 class="text-center">Franchiser Create Your Profile</h3>
            <h5 class="text-center" style="margin-top: 5px; padding: 0 20px;">This information will let us know more about you.</h5>
          </div>
          <div class="userDetails-navigation">
            <ul class="nav nav-pills">  
              <li class="text-uppercase text-center">Address Details</li>
              <li class="text-uppercase text-center">Account Details</li>
              <li class="text-uppercase text-center">Company Details</li>
            </ul>
            <div class="move-tab text-center text-uppercase">Address Details</div>
          </div>
          <div class="userDetails-body">
            
            <div class="userDetails-tab">
              <form class="text-white mt-2">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>ADDRESS *</label>
                      <input type="text" class="form-control" placeholder="Enter Your Address" autocomplete="off">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>CITY *</label>
                      <input type="text" class="form-control" placeholder="Enter Your City" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>DISTRICT *</label>
                      <input type="text" class="form-control" placeholder="Enter Your District" autocomplete="off">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>ZIP CODE *</label>
                      <input type="number" class="form-control" placeholder="Enter Your Zip Code" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>STATE *</label>
                      <input type="text" class="form-control" placeholder="Enter Your State" autocomplete="off">
                    </div>
                  </div>

                  <!-- <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>ADDRESS</label>
                      <input type="text" class="form-control" placeholder="Enter Your Address" autocomplete="off">
                    </div>
                  </div> -->
                </div>
              </form>
            </div>

            <div class="userDetails-tab">
              <form class="text-white mt-2">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>BANK NAME *</label>
                      <input type="text" class="form-control" placeholder="Enter Your Bank Name" autocomplete="off">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>ACCOUNT HOLDER NAME *</label>
                      <input type="text" class="form-control" placeholder="Enter Your Name" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>IFSC CODE *</label>
                      <input type="text" class="form-control" placeholder="Enter Your Ifsc Code" autocomplete="off">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>ACCOUNT NUMBER *</label>
                      <input type="text" class="form-control" placeholder="Enter Your Account Number" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>CONFIRM ACCOUNT NUMBER *</label>
                      <input type="text" class="form-control" placeholder="Enter Your Confirm Account Number" autocomplete="off">
                    </div>
                  </div>

                  <!-- <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>ADDRESS</label>
                      <input type="text" class="form-control" placeholder="Enter Your Address" autocomplete="off">
                    </div>
                  </div> -->
                </div>
              </form>
            </div>
            
            <div class="userDetails-tab">
              <form class="text-white mt-2">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>DIRECTOR NAME *</label>
                      <input type="text" class="form-control" placeholder="Enter Your Name" autocomplete="off">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>BRANCH NAME *</label>
                      <input type="text" class="form-control" placeholder="Enter Your District" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>BRANCH CODE *</label>
                      <input type="text" class="form-control" placeholder="Enter Your Branch Code" autocomplete="off">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>REGISTRATION NUMBER *</label>
                      <input type="text" class="form-control" placeholder="Enter Your Registration Number" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>ADDRESS</label>
                      <input type="text" class="form-control" placeholder="Enter Your Address" autocomplete="off">
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                    <div class="md-form form-group">
                      <label>STATE *</label>
                      <input type="text" class="form-control" placeholder="Enter Your State" autocomplete="off">
                    </div>
                  </div> -->
                </div>
                   <button type="submit" class="btn btn-info" style="margin-bottom: -15px;width: 80px;">Submit</button>
              </form>
            </div>
            
          </div>
          <div class="userDetails-footer">
            <button id="preBtn" class="btn btn-danger ml-2" (click)="preOnClick()">Previous</button>
            <button id="nextBtn" class="btn btn-success" (click)="nextOnClick()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>