<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- Card Dark -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="assets\images\index-car-img.jpg" width="100%" height="auto"
                        alt="Car image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color bg-dark text-white rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"><i class="fa fa-share-alt"></i></a>
                    <!-- Title -->
                    <h4 class="card-title">CAR</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text mb-4">Some quick example text to build on the card title and make up
                        the bulk of the card's content.</p>
                    <!-- Link -->
                    <a href="#!" class="w d-flex justify-content-end text-white">
                        <h5>Read more <i class="fa fa-angle-double-right"></i></h5>
                    </a>

                </div>

            </div>
            <!-- Card Dark -->
        </div>
        <div class="col-md-3">
            <!-- Card Dark -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="assets\images\index-bike-img.jpg" width="100%" height="auto"
                        alt="Bike image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color bg-dark text-white rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"><i class="fa fa-share-alt"></i></a>
                    <!-- Title -->
                    <h4 class="card-title">BIKE</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up
                        the bulk of the card's content.</p>
                    <!-- Link -->
                    <a href="#!" class="text-white d-flex justify-content-end">
                        <h5>Read more <i class="fa fa-angle-double-right"></i></h5>
                    </a>

                </div>

            </div>
            <!-- Card Dark -->
        </div>
        <div class="col-md-3">
            <!-- Card Dark -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="assets\images\index-electronics-img.jpeg"
                        alt="Electonics image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color bg-dark text-white rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"><i class="fa fa-share-alt white-text"></i></a>
                    <!-- Title -->
                    <h4 class="card-title">ELECTRONICS</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up
                        the bulk of the card's content.</p>
                    <!-- Link -->
                    <a href="#!" class="text-white d-flex justify-content-end">
                        <h5>Read more <i class="fa fa-angle-double-right"></i></h5>
                    </a>

                </div>

            </div>
            <!-- Card Dark -->
        </div>
        <div class="col-md-3">
            <!-- Card Dark -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="assets\images\index-it-img.jpg"
                        alt="IT image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color bg-dark text-white rounded-bottom">
                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"><i class="fa fa-share-alt white-text"></i></a>
                    <!-- Title -->
                    <h4 class="card-title">IT</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up
                        the bulk of the card's content.</p>
                    <!-- Link -->
                    <a href="#!" class="text-white d-flex justify-content-end">
                        <h5>Read more <i class="fa fa-angle-double-right"></i></h5>
                    </a>

                </div>

            </div>
            <!-- Card Dark -->
        </div>
    </div>
</div>


