  <div class="background">
    <div class="signup-form">
      
      <form action="" method="post">
        <img src="assets\images\gobest-icon.png" class="loading mx-auto" width="100px" height="100px">
        <h2 class="text-center">Customer Sign Up</h2>
        <p class="text-center">Please fill in this form to create an account!</p>
        <hr>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" name="username" placeholder="Username" required="required">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
            <input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
            <input type="tel" class="form-control" name="number" placeholder="Phone Number" required="required">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="text" class="form-control" name="password" placeholder="Password" required="required">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock"></i>
              <i class="fa fa-check"></i>
            </span>
            <input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
          </div>
        </div>
        <div class="form-group">
          <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
        </div>
        <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
        </div>
        <div class="text-center text-white">Already have an account? <a href="/customerLogin">Login here</a></div>
      </form>
    
  </div>  
  </div>