<section>
  <div class="container">
    <div class="row">
      <div class="text-center col-lg-12 my-3">
        <h2 class="text-uppercase">About US</h2>  
        <hr class="w-25">   
      </div>
    </div>

        <div class="row py-3" style="text-align: center;">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img src="https://boodmo.com/media/cache/catalog_image/images/categories/de0a128.jpg" class="img-fluid pt-5" width="100%" height="auto">  
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-md-offset-1" style="margin-top: 40px;">
                <h3><b>Car distribution</b></h3>
                <p style="font-size: 20px;text-align: justify;">Map several numbers at the backend of your virtual phone number. Connect calls to multiple agents to resolve call queries and help your organization to be responsive with a virtual number. Distribute your business calls to various agents as per the callers’ requirement. Set a distinct extension number behind the virtual number for your agents making it easier for customers to connect with their concerned department automatically.</p>
            </div>
        </div>  
       
        <div class="row" style="text-align: center;">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-md-offset-1" style="margin-top: 40px;;">
                <h3><b>Marketing ROI</b></h3>
                <p style="font-size: 20px;text-align: justify;">Display different virtual number in all your campaigns to track and analyze which marketing channel worked best for you. Measure the success of your campaigns by viewing the call responses on each virtual number. Understand the ROI of all your campaigns by analysing the monthly and weekly reports of your call volume. Thus, improvise your marketing investment with a virtual phone number.</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img src="https://boodmo.com/media/cache/catalog_image/images/categories/a2c54d5.jpg" class="img-fluid pt-5" width="100%" height="auto">  
            </div>
        </div>
  </div>
</section>







