<div class="login-form-flex bg-img">
    <mat-card class="card">
      <div class="text-center" style="margin-top: -110px;margin-bottom: -20px;">
        <img src="assets\images\logo.png" width="300px">
      </div>
      <mat-card-title class="text-center">
        Change Password?
        <hr class="w-75 bg-light">
      </mat-card-title>
  
      <mat-card-content class="text-center mt-4" style="color: white;">
        <form [formGroup]=changePwdFormGroup>
        <mat-form-field appearance="outline" style="width: 280px;">
          <mat-label>New Password</mat-label>
          <input type="password" matInput #pwd name="pwd" formControlName="password"
            matTooltip="• Password should be 8 Alphanumeric Characters. &#13; • Password should contain atleast 1 special Character. &#13; • Password should contain atleast 1 uppercase letter. &#13; • Password should contain atleast 1 lowercase letter. &#13; • Password should contain atleast 1 number."
            matTooltipPosition="right" matTooltipClass="multiple-line" placeholder="Enter New Password">
            <mat-error *ngIf="changePwdFormGroup?.controls?.password.hasError('required')">
              Password is <strong>required.</strong>
            </mat-error>
            <mat-error *ngIf="changePwdFormGroup?.controls?.password.hasError('pattern')">
              Password is not <strong>strong.</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 280px;">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName="cpassword" CompareValidator="password" placeholder="Enter Confirm Password"/>
          <mat-error *ngIf="changePwdFormGroup?.controls?.cpassword.hasError('required')">
            Confirm Password is <strong>required.</strong>
          </mat-error>
          <mat-error *ngIf="changePwdFormGroup?.controls?.cpassword.hasError('notEqual') && !changePwdFormGroup?.controls?.cpassword.hasError('required')">
            Password doesn't <strong>match.</strong>
          </mat-error>
        </mat-form-field>
      </form>
      
      <mat-error class="text-center" style="margin-top: -20px;">{{msg}}</mat-error>
  
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button type="button" class="btn btn-outline-info mr-1" (click)="confirmPwd(pwd.value)" [disabled]="changePwdFormGroup.pristine || changePwdFormGroup.invalid">Save</button>
        <button type="button" class="btn btn-outline-info ml-1" routerLink="/adminLogin">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </div>